body {
    margin: 0;
    background-color: #212122;
}

.headerElement {
    border-bottom-style: solid;
    border-color: #444;
}

.headerElement a:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.sidebar{
    width: 250px;
    height: 50vh;
}


.dropdown-btn, .menu-btn {
  text-decoration: none;
  color: white;
  display: block;
  border: none;
  background: none;
  text-align: left;
}

.linkA {
  color: white;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}

.linkA:hover {
  text-decoration: underline;
  color: white;
}

.menu-btn:hover {
  text-decoration: underline;
  color: white;
}

.active {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.main {
  background-color: white;
}

.containerIframe {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh; 
    width: 100%; 
    margin: 0 auto;
}

iframe {
    width:100%; 
    height: 80%; 
    border: none; 
}


footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-color: #444;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

footer a:hover {
    text-decoration: underline;
}


