
body {
    margin:0;
    background-color: #222224
}

.header{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom-style: solid;
}
h1 {color:#f3f3f3}

.topnav{
    background-color: #333;
    height: 1200px;
    max-width: 200px;
}
.topnav a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #ddd;
    color:black;
    border-right-style: solid;
}
.column{
    height: 200px;
    width: 200px;
}
